dt {
    float: left;
    clear: left; /* Force the dt underneath anything floated left */
}

dd {
    float: left;
}

img {
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
}